@import "bootstrap";
@import "bootstrap/theme";

/*
*	Mixins
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*
*	Variables
*/

$bold-font: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$light-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


/*
*	Nested Sass
*/

body{
	background-color: #E0E0E0;
	h1
	{
		color:white;
	}
}

#header1 {
  text-align: right;

  p {
	padding-top: 10px;
	padding-right: 10px;
	display:inline-block;
	color: white;
	font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  	font-size: 12px;
  	font-weight: 100;
  }
}

#header2{

	p{
	padding-top: 25px;
	padding-bottom: 10px;
	display:inline-block;
	font-size: 12px;
	color:white;
	font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  	font-size: 10px;
  	font-weight: 100;

	}
}

#header2 .col-md-2 p {
	margin: 0;
	margin-top:35px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 25px;
}

#textInputBox{
	margin-top: 24px;
	margin-bottom: 12px;
	height:40px;
	width: 100%;
	background-color: white;
	display:block;
}

#textInputBox p{
	padding:13px;
	width: -1%;
}

#searchField{
	float:right;
	height:100%;
	width: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: none;
}

#searchLoop {
	float: right;
	width: 40px;
    height: 40px;
    background-position: 10px center;
    background-image: url(http://andersbchristensen.com/search-3-24.png);
    background-repeat: no-repeat;
    background-color: #1B99FD;
    padding: 0;
	border: none;
}

#cartButton{
	margin-top: 5%;
	height:40px;
	width: 60px;
	background-color: #FB816A;
	color: white;
	border:none;
	@include border-radius(0.5em);
	background: #FB816A url(http://andersbchristensen.com/cart-73-24.png) no-repeat top 8px left 7px;
	padding-top: 3px;
    padding-left: 28px;
}

#shopEverythingBtn{
	margin-top: 7%;
	margin-bottom: 6%;
	padding: 10px;
	display:block;
	background-color: #FB816A;
	color: white;
	border:none;
	@include border-radius(0.5em);
}

.customBtn {
	padding: 3px;
	padding-right:10px;
	padding-bottom: 15px;
	background-color: #2C3942;
	color: white;
	border:none;
}

#headerRow1
{
	background-color: #2C3942;
}

#headerRow2
{
	background-color: #406884;

	img
	{
	height: 25px;
	width: 25px;
	}

	#pngCenter1, #pngCenter2, #pngCenter3, #pngCenter4, #pngCenter5, #pngCenter6 
	{
		position: relative; 
		left: 0; 
		top: 0;
		img
		{
			position: relative; 
			top: 20px;
		}
	}
	.container
	{

		.row
		{

			#header2
			{

				.col-md-2
				{
					.center-block
					{
						max-width:400px;
						a
						{
							color:white;
						}
					}
				}
				.col-md-6
				{

					p
					{
						color: gray;
						font-weight: bold;
					}
				}
				.col-md-1
				{

				}
			}
		}
	}	
}

#headerRow3
{
	background-color: #2C3942;
	.container
	{

		.row
		{
			background-color: #2C3942;
			.col-md-2
			{
				background-color: #2C3942;
				.center-block
				{
					max-width:150px;
				}
			}
			.col-md-10
			{
				background-color: #2C3942;
				.center-block
				{
					margin-top: 17px;
					button:hover
					{
						border-bottom: 4px solid #379AFE;
					}
				}
			}
		}
	}
}

#headerRow4
{
	background-color: white;
	.container
	{

		.row
		{

			.col-md-4{
				background-color: white;
				.center-block
				{
					margin-top: 5px; 
					margin-bottom: 5px;  
					width: 100%;
					table
					{
						margin-top: 12px;
						td
						{
							padding: 5px; 
							padding-right: 10px;
							img
							{
								height: 24px; 
								width: 24px;
							}
							p
							{
								margin: 0; 
								color: #666666;
							}
						}
					}
				}
			}
		}
	}
}

#carusselContainer
{
	padding-top: 2%;
	.thumbnail
	{
		padding: 0;
	}
	img
	{
		height: 400px; 
		width: 100%;
	}
}

#rightBoxSale
{
	background-color:#E0E0E0;
	.thumbnail
	{
		padding: 0;
		img
		{
			height: 400px; 
			width: 100%;
		}
	}
}

#discountRow
{
	margin-top: 2%;
	#tn1
	{
		background: url(http://bloggersdelight-dk.bloggersdelight.netdna-cdn.com/wp-content/blogs.dir/109412/files/2015/10/l_22298268_003.jpg); 
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover; 
		background-color: white;
		h2
		{
			max-width: 80%; 
			padding: 10px; 
			font-size: 25px; 
			color: #379AFF;
		}
		ul
		{
			list-style: none;
			padding-bottom: 2%;
			li
			{

				a
				{
					color: #555555;
				}
			}
		}
	}
	#tn2
	{
		background: url(http://weloversize.com/wp-content/uploads/2013/03/dolce-gabbana-women-sunglasses-eyewear-bianca-balti-fall-winter-2013-advertising-campaign.jpg); 
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover; 
		background-color: white;
		h2
		{
			max-width: 80%; 
			padding: 10px; 
			font-size: 25px; 
			color: #38464F;
		}
		ul
		{
			list-style: none;
			padding-bottom: 2%;
			li
			{
				a
				{
					color: #555555;
				}
			}
		}
	}
	#tn3
	{
		background: url(http://i0.wp.com/www.stylevitae.com/wp-content/uploads/2015/08/MANSUR-GAVRIEL%E2%80%99S-LADY-CROSSBODY-BAGS-11.jpg); 
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover; 
		background-color: white;
		h2
		{
			max-width: 80%; 
			padding: 10px; 
			font-size: 25px; 
			color: white;
		}
		ul
		{
			list-style: none;
			padding-bottom: 2%;
			li
			{
			
				a
				{
					color: white;
				}
			}
		}
	}
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    @include border-radius(0);
}

.thumbnail p {
    margin-top: 15px;
    color: white;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #333;
    @include border-radius(0);
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    color: #000;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.carousel-caption{
	color: white; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 20px; 
}

#paragraphs{
	background-color: white;
	margin-top: 2%;
	padding-top: 10px;
	text-align:center;
		p{
		padding-right:25px;
		display:inline-block;
		font: 100% $bold-font;
		}
}

.rating {
  color: #F6B800;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#alert-box {
            display: none;
        }

#latestProducts
{
	background-color: white; 
	margin-bottom: 2%; 
	border-top: 4px solid #379AFE;

	.thumbnail img{
    	max-width: 100%; /* do not stretch the bootstrap column */
	}

	.img-wrapper{
		width: 100%;
		padding-bottom: 150%; /* your aspect ratio here! */
		position: relative;
	}

	.img-wrapper img{
		position: absolute;
		top: 0; 
		bottom: 0; 
		left: 0; 
		right: 0;
	}
	.thumbnail
	{
		padding: 10px; 
		margin-top: 20px;
		img
		{
			height: auto; 
			width: 100%;
		}
		#p1
		{
			color: black; 
			font-weight: bold; 
			font: 100% $bold-font;
		}
		#p2
		{
			color: gray; 
			margin-bottom: 5px;
				a
				{
					text-decoration:line-through;
				}
		}
		#p3
		{
			color: #379AFE; 
			font: 100% $bold-font;
		}
		#productButton
		{
			max-width: 80%;
			border:none;
			color:white;
			background-color:#406884;
			padding: 5px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius:0.5em;
		}
	}
}

#topFooterRow{
	padding-top: 1%;
	padding-bottom: 1%;
	.col-md-4
	{
		background-color: #406884;
		.center-block{
			margin-top: 5px; 
			margin-bottom: 5px;  
			width: 100%;
			table
			{

				td
				{
					padding: 5px; 
					padding-right: 10px;
					img
					{
						height: 24px; 
						width: 24px;
					}
				}
				p{
					margin:0; 
					color: white; 
					font: 100% $bold-font;
				}
				#p2-1, #p2-2, #p2-3
				{
					font: 100% $light-font;
				}
			}
		}
	}
}

#middleFooterRow
{
	padding-bottom:2%;

		.col-md-2
		{
			background-color: #38464F;

			h2
			{
				max-width: 80%; 
				padding: 10px; 
				font-size: 20px; 
				color: #fff;
			}
			ul
			{
				list-style: none;
				a
				{
					color: #fff;
				}
			}
		}
		.col-md-4
		{
			background-color: #38464F;
			p
			{
				text-align: left; 
				color: white;
			}
			h2
			{
				max-width: 80%; 
				padding-top: 10px; 
				font-size: 25px; 
				color: #fff;
			}
			.searchWrapper
			{
				input[type="button"]
				{
					background-color: #379AFE; 
					border: none; 
					color: white;
					width: 18.8%;
				}
				input[type="text"]
				{
					border: none; 
					font-size: 12px; 
					width: 80%;
				}
			}
			h3
			{
				max-width: 80%; 
				font-size: 20px; 
				color: #fff;
			}
			.searchWrapper2
			{
			background-color: #38464F; 
			border: none; 
			padding-top: 5px;
			}
			img
			{
				height: 40px; 
				width: 40px; 
				margin-right: 5px;
			}
	}
}

.list ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
.list  li:before { 
    content: "";
    border-color: transparent #379AFF;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.searchWrapper{
	height: 40px;
	background-color: white;

	input[type="button"]{
		height:40px;
	}
	input[type="text"]{
		height:40px;
	}
}

#center1, #center2, #center3, #center4, #center5, #center6
{
	text-align:center;
	 margin-left:auto; 
	 margin-right:auto;
}

.modal-content{

	img{
	height: 40px; 
	width: 40px; 
	margin: 10px; 
	margin-top: 20px; 
	display: flex; 
	align-items: center;
	}

	h3{
		font-size: 16px; 
		display: flex;
	}

	p{
		font-size: 14px;
	}

	#nrItemsBasket{
		padding-left: 15px; 
		font-size: 16px;
	}
}

.modal-body{
	padding: 0; 
	padding-left: 15px;
}

#footerBottomRow{
	background-color: #2C3942;

	p{
		text-align: center; 
		font-size: 10px; 
		font-weight: bold; 
		color: white;
		margin-top: 2%;
	}

	.col-md-4{
		background-color: #2C3942
	}
}

.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.alert{
  display:none;
}

#productRow
{
	margin-top: 4%;
	margin-bottom: 4%;
	background-color: white;
	padding: 10px;
	a
	{
		text-align:left;
		font-size: 20px;
		font-weight:bold;
	}
	p
	{
		color: gray;
	}
	h1
	{
		color: #1B99FD;
	}
	.col-md-6 img
	{
	border: 2px;
	}
}
